* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.bg {
    position: absolute;
    margin-left: 16%;
    margin-top: 4.5%;
}

.bg img {
    border-radius: 10%;
    border-style: outset;
}

.man {
    height: 8rem;
    position: absolute;
    top: 45%;
    left: 35%;
}

.man:hover {
    transform: scale(1.5);
    transition: 0.4s;
}

.car {
    position: absolute;
    top: 72%;
    left: 17%;
}

.car:hover {
    position: absolute;
    top: 70%;
    left: 15%;
    transition: 1s;
}

.aeroplane {
    position: absolute;
    top: 10%;
    left: 17%;
}

.aeroplane:hover {
    position: absolute;
    top: 4%;
    transition: 1s;
}

.bird {
    height: 2rem;
    position: absolute;
    top: 37%;
    left: 65%;
}

.bird:hover {
    transform: scale(1.8);
    transition: 0.4s;
}

.bird2 {
    height: 2rem;
    position: absolute;
    top: 47%;
    left: 18%;
}

.bird2:hover {
    transform: scale(1.8);
    transition: 0.4s;
}

#back {
    height: 1.5rem;
    width: 4rem;
    background: linear-gradient(to right, rgb(255, 153, 0), red);
    border-radius: 20%;
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    text-align: center;
    border-style: outset;
}

#back:hover {
    height: 1.7rem;
    width: 4.4rem;
    background: linear-gradient(to right, rgb(0, 255, 115), rgb(255, 170, 0));
    border-radius: 20%;
    border-style: inset;
    color: rgb(8, 8, 8);
    text-decoration: underline;
    transform: scale(1.5);
    transition: 0.4s;
}